{% extends 'admin/email/email_template.html.twig' %}

{% block header %}
    Beste {{ first_name }},
{% endblock %}

{% block body %}
    Je hebt je CV's sinds {{ threemonthsago }} niet meer aangepast, terwijl je wel gave nieuwe dingen hebt gedaan die relevant zijn voor potentiele opdrachtgevers. Nu het nog vers in je geheugen zit, loop je CV's door en voeg je nieuwe ervaringen, opleidingen en ontwikkelde competenties toe. Zo houden we elkaar scherp!

    Het gaat om de volgende CV's:
    <ul>
        {% for cv in cvs %}
            <li>{{ cv.curriculumvitae_name }}</li>
        {% endfor %}
    </ul>

    Je kunt je CV's updaten in SteVee.<br/> <br/>
    Bedankt!<br/><br/>
    SteVee AutoMailer
{% endblock %}