{% extends 'base.html.twig' %}

{% block content %}
{% if extracurricular %}
    <div class="row">
        <div class="col s12 m2">
            <label>Startdatum</label><br/>
            {{ extracurricular.endDate|date('d-m-Y') }}
        </div>
        <div class="col s12 m2">
            <label>Einddatum</label><br/>
            {% if extracurricular.endDate %}
                {{ extracurricular.endDate|date('d-m-Y') }}
            {% else %}
                Heden
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <label>Nevenactiviteit</label><br/>
            {{ extracurricular.extracurricularName }}
        </div>
    </div>
    <div class="row">
         <div class="col s12 right-align">
             <a class="waves-effect waves-light btn" href="javascript:history.back()"><i class="material-icons left">keyboard_arrow_left</i>Terug</a>
         </div>
    </div>
{% endif %}
{% endblock %}