.top-nav {
    box-shadow: none;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.collection a.collection-item {
    display: block;
    transition: .25s;
    color: black;
}

.collection .collection-item.avatar .circle {
    object-fit: cover;
    object-position: 0 0;
}

.dropdown-content {
    min-width: 200px;
}

#active-link {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

#tags .chip {
    margin-top: 0;
}

.collapsible {
    box-shadow: none;
    border: 0;
}

.collapsible-header {
    display: block;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #929CA1;
    padding:0;
}

.collapsible-header label {
    font-size: 1.0rem;
    color: #929CA1;
}

.collapsible-header i {
    width: 2rem;
    font-size: 1.6rem;
    line-height: 3rem;
    display: block;
    float: right;
    text-align: center;
    margin-right: 1rem;
}

.collapsible-body {
    display: none;
    border: 0;
}

.collapsible-body p {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0;
}

.tooltip {
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color:#161616;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size:12px;
    max-width: 300px;
}

.menu-admin {
    font-size: 16px;
}

.select-wrapper input.select-dropdown {
    height:2rem;
}
@media only screen and (min-width: 993px) {
    nav {
        background-color: #CE2C43;
    }

    #perm-identity {
        background-image: url("../img/ic_perm_identity_white_48dp_1x.png");
        background-size: 32px;
        background-position:center;
        display:block;
        overflow:hidden;
        background-repeat: no-repeat;
        height:64px;
        width:50px;
    }
}
@media only screen and (max-width: 992px) {
    nav {
        background-color: #FFFFFF;
        border-bottom: 1px solid #CE2C43;
    }

    nav i {
        color: #000000;
    }

    #perm-identity {
        background-image: url("../img/ic_perm_identity_black_48dp_1x.png");
        background-size: 32px;
        background-position:center;
        display:block;
        overflow:hidden;
        background-repeat: no-repeat;
        height:64px;
        width:50px;
    }
}

.tabs .indicator {
    background-color: #CE2C43;
}
.tabs .tab a:hover, .tabs .tab a.active {
    color:#CE2C43;
}

.tabs .tab a {
    color:#929CA1;
}

label.required:after {
    content: "* ";
    color:#CE2C43;
}

.dropdown-content li > a {
    color: #264756;
}

.btn {
    background-color: #264756;
}

.btn:hover {
    background-color: #346176;
}

.grey {
    background-color: #929CA1;
}

.grey:hover {
    background-color: #adb5b8;
}

a {
    color: #264756;
}

.datepick {
    text-align:center;
}

.datepick-dash {
    border-bottom:1px solid #9e9e9e;
    line-height:3rem;
    display:inline-block;
}

.search-wrapper {
    margin:0 12px;transition:margin .25s ease;
    margin-bottom: 10px;
}

#nav-mobile div.search .search-wrapper.focused {
    margin:0
}

#nav-mobile div.search .search-wrapper input#search {
    display:block;
    font-size:16px;
    font-weight:300;
    width:95%;
    height:45px;
    margin:0;
    padding:0 0px 0 15px;border:0
}

#nav-mobile div.search .search-wrapper input#search:focus {
    outline:none
}

#nav-mobile div.search .search-wrapper i.material-icons {
    position:absolute;
    top:-8px;
    right:10px;
    cursor:pointer;
}

.title span {
    font-weight: bold;
}

.linkButton {
    background: none;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}